/*global styles*/

body {
  font-family: consolas;

  background-color: #313a3a;
}
.main {
  margin: 3rem;
}
.profile-pic {
  margin-top: 14.5rem;
  position: absolute;
}
/*margin-left: 19rem;}*/

.home-header {
  background-image: url(./assets/bottom_forest.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 27rem;
}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}
.about-me {
  margin-top: 0rem;
  margin-bottom: 3rem;
  background-image: url(./assets/electro_circ.gif);
  opacity: 6;
  color: rgb(191, 235, 104);
}

/*social networking list*/

.allaboutme {
  padding: 5rem;
}

.title-about-me {
  padding: 1rem;
  margin: 0;
}

.experience-content{display: inline-block;}

.collapsible {
  box-shadow: 0 0 20px 1px #313a3a;
  background-color: #777;
  color: rgb(10, 9, 9);
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: space-around;
  font-size: 15px;
  margin-bottom: 1rem
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #bdae5d;
}

.skill-content {
  text-align: center;
  padding: 1rem;
  background-image: url(./assets/tvstatic.gif);
  position: relative;
}

.skill-item {
  box-shadow: 0 0 20px 1px #313a3a;
  padding: 0.5rem;
  width: 40%;
  margin: 0.1rem auto;
  font-size: 80%;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
}

.skill-item:nth-child(odd) {
  background-color: #321e53;
  color: #fbfefb;
}

.skill-item:nth-child(even) {
  background-color: #321e53;
  color: #fbfefb;
}

.footer {
  display: inline-flex;
  height: 20rem;
}
li a {
  color: red;
}

.social-list {
  list-style-type: none;
  position: absolute;
  margin-top: 6rem;
}

.social-networking {
  background-image: url(./assets/hand.jpg);
  background-size: cover;
  width: 44.8%;
  float: left;
  margin-left: 3rem;
  height: 20rem;
  margin-right: 1rem;
}
.contact-list {
  list-style-type: none;
  position: absolute;
  margin-top: 6rem;
}
.contact-details {
  background-image: url(./assets/hand.jpg);
  background-size: cover;
  width: 44%;
  display: inline-block;
  height: 20rem;
  margin-right: 1rem;
}
