/*global styles*/

body {
  font-family: consolas;
  border: 5px solid black;
}

.profile-pic {
  
 
  border-style: outset;
 
}

.home {
  background-image: url(./assets/bottom_forest.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: auto;
}

.title {
  position: bottom;
  color: white;
}

.details-title {
  width: 166px;
}

.jobs,
.volunteer {
  display: none;
  font-size: 10px;
}

.about-me {
  text-indent: 13px;
  padding-left: 23px;
  padding-right: 0px;
}

.p {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.social-list {
  list-style-type: none;
}

.nav {
  list-style-type: none;
  padding-inline-start: 25%;
}

.content {
  display: flex;
}

.about-me {
  width: 100%;
}

.footer {
  display: inline-block;
  position: bottom;
}

.footer-list {
  list-style-type: none;
}
