/*global styles*/

body {
  font-family: consolas;
  color: yellowgreen;
  border: 5px solid whitesmoke;
}
.main {
  margin: 3rem;
  background-image: url(./assets/electro_circ.gif);
  opacity: 0.8;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
/*.profile-pic {
  margin-top: 22.6rem;
  margin-left: 19rem;}*/


.home-header {
  background-image: url(./assets/bottom_forest.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
}
.about-me{margin-top: 7rem;}
/*social networking list*/

.social-list {
  list-style-type: none;
}


.skill-content{
  text-align: center;
  padding-bottom: 1rem;
}

.skill-item {
  -webkit-box-shadow: 0 0 20px 1px #313a3a;
  box-shadow: 0 0 20px 1px #313a3a;
  padding: 0.5rem;
  width: 40%;
  margin: 0.1rem auto;
  font-size: 70%;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skill-item:nth-child(odd) {
  background-color: #321e53;
  color: #fbfefb;
}

.skill-item:nth-child(even) {
  background-color: #321e53;
  color: #fbfefb;
}

.footer-list {
  list-style-type: none;
  color: yellowgreen;
}
